#{extends 'main.html' /}
#{set title:'Confirm ' + project.name + ' recording' /}

<h1>Confirm project recording</h1>

#{form @confirmRecording(project.id)}
    <p>
        <strong>Name:</strong> ${project.name}
    </p>
    <p>
        <strong>Address:</strong> ${project.address}
    </p>
    <p>
        <strong>City:</strong> ${project.city}
    </p>
    <p>
        <strong>State:</strong> ${project.state}
    </p>
    <p>
        <strong>Zip:</strong> ${project.zip}
    </p>
    <p>
        <strong>Country:</strong> ${project.country}
    </p>
    <p>
        <strong>Daily Payment:</strong> ${project.price}
    </p>
    <p>
        <strong>No. of consultants:</strong> ${recording.beds}
        <input type="hidden" name="recording.beds" value="${recording.beds}">
    </p>
    <p>
        <strong>Total:</strong> ${recording.total.formatCurrency('USD')}
    </p>
    <p>
        <strong>Project Start date:</strong> ${recording.checkinDate.format('yyyy-MM-dd')}
        <input type="hidden" name="recording.checkinDate" value="${recording.checkinDate.format('yyyy-MM-dd')}">
    </p>
    <p>
        <strong>Project end date:</strong> ${recording.checkoutDate.format('yyyy-MM-dd')}
        <input type="hidden" name="recording.checkoutDate" value="${recording.checkoutDate.format('yyyy-MM-dd')}">
    </p>
    <p>
        <strong>Project ref. number #:</strong> ${recording.creditCard}
        <input type="hidden" name="recording.creditCard" value="${recording.creditCard}">
        <input type="hidden" name="recording.creditCardName" value="${recording.creditCardName}">
        <input type="hidden" name="recording.creditCardExpiryMonth" value="${recording.creditCardExpiryMonth}">
        <input type="hidden" name="recording.creditCardExpiryYear" value="${recording.creditCardExpiryYear}">
    </p>
    
    <p class="buttons">
        <input type="submit" value="Confirm" name="confirm"> <input type="submit" value="Revise" name="revise"> <a href="@{show(project.id)}">Cancel</a>    
    </p>
#{/form}
