#{if projects}
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Company Address</th>
                <th>City, State</th>
                <th width="8%">Zip</th>
                <th width="13%">Action</th>
            </tr>
        </thead>
        <tbody>
            #{list projects, as:'project'}
                <tr>
                    <td>${project.name}</td>
                    <td>${project.address}</td>
                    <td>${project.city}, ${project.state}, ${project.country}</td>
                    <td>${project.zip}</td>
                    <td>
                        <a href="@{show(project.id)}">View Project</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    <p>
        <a id="nextPage" href="${page+1}">More results</a>
    </p>
#{/if}

#{else}
    <p>
        No more results
    </p>
#{/else}      