#{extends 'main.html' /}
#{set title:'Record ' + project.name /}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery-ui-1.7.2.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/ui-lightness/jquery-ui-1.7.2.custom.css'}" />
#{/set}

<h1>Edit project</h1>

#{form @confirmRecording(project.id)}
    <p>
        <strong>Name:</strong> ${project.name}
    </p>
    <p>
        <strong>Address:</strong> ${project.address}
    </p>
    <p>
        <strong>City:</strong> ${project.city}
    </p>
    <p>
        <strong>State:</strong> ${project.state}
    </p>
    <p>
        <strong>Zip:</strong> ${project.zip}
    </p>
    <p>
        <strong>Country:</strong> ${project.country}
    </p>
    <p>
        <strong>Daily Payment:</strong> ${project.price}
    </p>
    #{field 'recording.checkinDate'}
        <p class="${field.errorClass}">
            <strong>Project Start date:</strong> <input type="text" size="10" name="${field.name}" class="datepicker" value="${recording?.checkinDate?.format('yyyy-MM-dd')}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'recording.checkoutDate'}
        <p class="${field.errorClass}">
            <strong>Project end date:</strong> <input type="text" size="10" name="${field.name}" class="datepicker" value="${recording?.checkoutDate?.format('yyyy-MM-dd')}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    <p>
        <strong>Project description:</strong> 
        #{select 'recording.beds', value:recording?.beds}
            #{option 1}Upgrade#{/option}
            #{option 2}Migration#{/option}
            #{option 3}Others#{/option}
        #{/select}
    </p>
    <p>
        <strong>Contract preferences:</strong> 
        <input type="radio" name="recording.smoking" value="true" ${recording?.smoking ? 'checked' : ''}> Contract
        <input type="radio" name="recording.smoking" value="false" ${recording?.smoking ? '' : 'checked'}> Non contract
    </p>
    #{field 'recording.creditCard'}
        <p class="${field.errorClass}">
            <strong>Project ref. number #:</strong> <input type="text" name="${field.name}" size="16" value="${recording?.creditCard}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'recording.creditCardName'}
        <p class="${field.errorClass}">
            <strong>Consultant Name:</strong> <input type="text" name="${field.name}" size="16" value="${recording?.creditCardName}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    <p>
        <strong>Next break:</strong> 
        #{select 'recording.creditCardExpiryMonth', value:recording?.creditCardExpiryMonth}
            #{option 1}Jan#{/option}
            #{option 2}Feb#{/option}
            #{option 3}Mar#{/option}
            #{option 4}Apr#{/option}
            #{option 5}May#{/option}
            #{option 6}Jun#{/option}
            #{option 7}Jul#{/option}
            #{option 8}Aug#{/option}
            #{option 9}Sep#{/option}
            #{option 10}Oct#{/option}
            #{option 11}Nov#{/option}
            #{option 112}Dec#{/option}
        #{/select}
        #{select 'recording.creditCardExpiryYear', value:recording?.creditCardExpiryYear}
            #{option 2008}2008#{/option}
            #{option 2009}2009#{/option}
            #{option 2010}2010#{/option}
            #{option 2011}2011#{/option}
            #{option 2012}2012#{/option}
            #{option 2013}2013#{/option}
            #{option 2014}2014#{/option}
            #{option 2015}2015#{/option}
            #{option 2016}2016#{/option}
            #{option 2017}2017#{/option}
        #{/select}      
    </p>    
    <p class="buttons">
        <input type="submit" value="Proceed"> <a href="@{show(project.id)}">Cancel</a>    
    </p>
#{/form}

<script type="text/javascript" charset="${_response_encoding}">
    $(function() {
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
	});
</script>