#{extends 'main.html' /}
#{set title:project.name /}

<h1>View project</h1>

#{form @record(project.id)}
    <p>
        <strong>Name:</strong> ${project.name}
    </p>
    <p>
        <strong>Address:</strong> ${project.address}
    </p>
    <p>
        <strong>City:</strong> ${project.city}
    </p>
    <p>
        <strong>State:</strong> ${project.state}
    </p>
    <p>
        <strong>Zip:</strong> ${project.zip}
    </p>
    <p>
        <strong>Country:</strong> ${project.country}
    </p>
    <p>
        <strong>Daily Payment:</strong> ${project.price}
    </p>
    
    <p class="buttons">
        <input type="submit" value="Record Project"> <a href="@{index()}">Back to search</a>      
    </p>
#{/form}
