#{extends 'main.html' /}
#{set title:'Management' /}

<div id="masthead">
				
				
			</div>
			<h1>Search Projects</h1>

<p>
    <input type="text" id="search" size="30">
    <input type="submit" id="submit" value="Find Projects">

    <br>

    Maximum results: 
    <select id="size">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</p>
				
			<div id="content">
				<p id="about-us">Contact us and we will build your app for you.<a href="www.jethroltd.com">Read About Us &raquo;</a></p>
				
				<div class="column left">
					<img src="public/images/pic1.jpg" alt="Pic" />
					<h2>Feedback / Registration</h2>
					<p>Tell us what you think about this application.</p>
					<p>So ero re nipa agbekale yii</p>
				</div>
				
				<div class="column middle">
					<img src="public/images/pic2.jpg" alt="Pic" />
					<h2>Owner's Registration</h2>
					<p>Tell us what you think about this application.</p>
					<p>So ero re nipa agbekale yii.</p>
				</div>
				
				<div class="column right">
					<img src="public/images/pic3.jpg" alt="Pic" />
					<h2>Helpful Links / Info</h2>
					<p>Tell us what you think about this application.</p>
					<p>So ero re nipa agbekale yii.</p>				</div>
				
				<p id="contact-us">Contact Us Today for a consultation: +2348032072706 or <a href="mailto:twonjee2002@yahoo.com">Email</a> tunji@jethroltd.com</p>
			</div>
		</div>